{% if entry_scripts_enabled %}
      <bpmndi:BPMNShape id="CallActivity_SizeGuard_gui" bpmnElement="CallActivity_SizeGuard">
        <dc:Bounds height="60" width="100" x="280" y="70" />
      </bpmndi:BPMNShape>
      <bpmndi:BPMNShape id="CallActivity_ReplaySnapshot_gui" bpmnElement="CallActivity_ReplaySnapshot">
        <dc:Bounds height="60" width="100" x="400" y="70" />
      </bpmndi:BPMNShape>
{% endif %}